.contact-form button {
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  display: block;
  width: 100%; /* Osigurava prilagodbu na manjim ekranima */
  max-width: 200px; /* Opcionalno: ograničava širinu na većim ekranima */
  margin: 0 auto; /* Centriranje na stranici */
}

.contact-form button:hover {
  background-color: #003f8c;
}
